@model Gimnasio_Brothers.Models.FacturaCliente

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles de Factura</h1>
<br>
<div>
    <h4>FacturaCliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Fecha De Emision
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEmicion)
        </dd>
        <dt class = "col-sm-2">
            Metodo de Pago
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetodoPago)
        </dd>
        <dt class = "col-sm-2">
            Cliente Membresia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdclienteMembresiaNavigation.IdclienteMembresia)
        </dd>
    </dl>
</div>
<br>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idfactura" class="btn btn-danger"> <i class="bi bi-pencil-fill"> Editar</i> </a> |
    <a asp-action="Index" class="btn btn-warning"> <i class="bi bi-arrow-return-left">Regresar a Factura</i></a>
</div>
