@model Gimnasio_Brothers.Models.FacturaCliente

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar factura Cliente</h1>
<br>
<h4>Factura de cliente</h4>
<hr />
<br>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idfactura" />
            <div class="form-group">
                <label asp-for="IdclienteMembresia" class="control-label">Cliente Membresia</label>
                <select asp-for="IdclienteMembresia" class="form-control" asp-items="ViewBag.IdclienteMembresia"></select>
                <span asp-validation-for="IdclienteMembresia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaEmicion" class="control-label">Fecha De Emision</label>
                <input asp-for="FechaEmicion" class="form-control" />
                <span asp-validation-for="FechaEmicion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetodoPago" class="control-label">Metodo De Pago</label>
                <input asp-for="MetodoPago" class="form-control" />
                <span asp-validation-for="MetodoPago" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-success"><i class="bi bi-plus-circle"> Guardar</i></button>
            </div>
        </form>
    </div>
</div>
<br>
<div>
    <a asp-action="Index" class="btn btn-warning"><i class="bi bi-arrow-return-left"> Regresar a Facturas</i></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
