@model Gimnasio_Brothers.Models.ProductosVentum

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar Producto</h1>
<br>
<h4>ProductosVentas</h4>
<hr />
<br>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idproductos" />
            <div class="form-group">
                <label asp-for="Idprovedores" class="control-label">Nombre Del Provedor</label>
                <select asp-for="Idprovedores" class="form-control" asp-items="ViewBag.Idprovedores"></select>
                <span asp-validation-for="Idprovedores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioUnitario" class="control-label">Precio Unitario</label>
                <input asp-for="PrecioUnitario" class="form-control" />
                <span asp-validation-for="PrecioUnitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdcategoriaProducto" class="control-label">Nombre Del Producto</label>
                <select asp-for="IdcategoriaProducto" class="form-control" asp-items="ViewBag.IdcategoriaProducto"></select>
                <span asp-validation-for="IdcategoriaProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCaducidad" class="control-label">Fecha De Vencimiento</label>
                <input asp-for="FechaCaducidad" class="form-control" />
                <span asp-validation-for="FechaCaducidad" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-success"><i class="bi bi-plus-circle"> Guardar</i></button>
            </div>
        </form>
    </div>
</div>
<br>
<div>
    <a asp-action="Index" class="btn btn-warning"><i class="bi bi-arrow-return-left"> Regresar a Productos Venta</i></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
