@model Gimnasio_Brothers.Models.Actividade

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>
<br>
<div>
    <h4>Actividades</h4>
    <hr />
    <br>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idactividades" class="btn btn-danger"> <i class="bi bi-pencil-fill"> Editar</i> </a> |
    <a asp-action="Index" class="btn btn-warning"> <i class="bi bi-arrow-return-left">Regresar a Empleado</i></a>
</div>
